 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <h2>About</h2>
                    <br><br>
                </div>
	    </div>
	<!--	<div class="row">
	<div class="col-lg-4 col-lg-offset-2"> -->
                    <p>I am a PhD student at the LIG (Laboratoire d'Informatique de Grenoble), Grenoble, France in the GETALP team. I work on spontaneous speech recognition under the supervision of François Portet and Solange Rossato. Here is a sumary of my thesis work: <a href="http://www.theses.fr/s252448">http://www.theses.fr/s252448</a></p>
        <!-- 	</div>
	<div class="col-lg-4"> -->
                    <p>This is my personal website. You can find here my scientific papers, my work & study expereriences and how to contact me (social networks, work & email adress). I also want this website to be useful to students and researchers in speech recognition. This is why I share a french oral corpora inventory that I made while looking for corpora to train wav2vec models during LeBenchmark project. This took me quite a while and the last inventory I found dates back to 2015! So I hope this will be useful to some of you in a way. Don't hesitate to contact me if you want to add a corpus to the list.</p>
		    <!--  </div> -->
    </section>
