 <!-- Contact Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <h2>Contact</h2>
                    <br><br>
                </div>
            </div>
            <div class="row">
                
                <img src="/img/location.png" width="30" height="40" alt="profile-pic" /> <p>Laboratoire d'Informatique de Grenoble <br>
                Bureau 325, équipe GETALP <br>
                Bâtiment IMAG, 700 Av. Centrale <br>
                38401 Saint-Martin-d'Hères </p> <br>
                <img src="/img/twitter.webp" width="40" height="40" alt="profile-pic" /> <p>solene-evain</p><br>
                <img src="/img/mail.png" width="40" height="40" alt="profile-pic" /> <p>solene.evain@univ-grenoble-alpes.fr</p><br>
                <img src="/img/linkedin.png" width="35" height="35" alt="profile-pic" /> <p>https://www.linkedin.com/in/solene-evain/</p>
            </div>
        </div>
    </section>
