 <!-- Formations Section -->
    <section class="success" id="formations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Expérience</h2>
                    <hr class="star-light">
                </div>
            </div>
		<table>
		     <caption>Alien football stars</caption>
   		     <tr>
       			<th scope="col">Player</th>
        		<th scope="col">Gloobles</th>
        		<th scope="col">Za'taak</th>
   		     </tr>
    		    <tr>
        		<th scope="row">TR-7</th>
        		<td>7</td>
        		<td>4,569</td>
    		    </tr>
    		    <tr>
        		<th scope="row">Khiresh Odo</th>
        		<td>7</td>
        		<td>7,223</td>
    		    </tr>
    		    <tr>
        		<th scope="row">Mia Oolong</th>
        		<td>9</td>
        		<td>6,219</td>
    		    </tr>
		</table>
        </div>
    </section>
