 <!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <h2>Papers & main contributions</h2>
                    <br><br>
                </div>
	       </div>
           <p>Full up-to-date list of papers: <a href="https://cv.archives-ouvertes.fr/solene-evain">https://cv.archives-ouvertes.fr/solene-evain</a></p>
<table>
   <tr>
        <th>Date </th>
        <th>Project</th>    
        <th>Paper</th>
        <th>Conference/workshop or journal</th>

   </tr>
   <tr>
       <td>2021</td>
       <td>LeBenchmark</td>
       <td><a href="https://hal.archives-ouvertes.fr/hal-03407172">Task Agnostic and Task Specific Self-Supervised Learning from Speech with LeBenchmark.</a></td>
       <td>NeurIPS, online</td>

   </tr>
   <tr>
       <td>2021</td>
       <td>LeBenchmark</td>
       <td><a href="https://hal.archives-ouvertes.fr/hal-03317730v3">LeBenchmark: A Reproducible Framework for Assessing Self-Supervised Representation Learning from Speech.</a></td>
       <td>Interspeech, Czech Republic</td>

   </tr>

   <tr>
       <td>2021</td>
       <td>Spontaneous speech recognition</td>
       <td>Exploration de systèmes end-to-end pour la reconnaissance automatique de la parole spontanée. <a href="https://hal.archives-ouvertes.fr/hal-03507681">Paper</a>, <a href="https://hal.archives-ouvertes.fr/hal-03474959">Poster</a></td>
       <td>GDR LIFT, France</td>

   </tr>
   <tr>
       <td>2021</td>
       <td>Beatbox</td>
       <td><a href="https://hal.archives-ouvertes.fr/hal-02896690v2">Beatbox Sound Recognition using an Automatic Speech Recognition Toolkit.</a></td>
       <td>Biomedical Signal Processing and Control</td>

   </tr>

   <tr>
       <td>2020</td>
       <td>MANES</td>
       <td><a href="https://hal.univ-grenoble-alpes.fr/hal-02896681">Towards Automatic Captioning of University Lectures for French Students who are Deaf.</a></td>
       <td>ACM SIGACCESS, Greece</td>

   </tr>
      <tr>
       <td>2020</td>
       <td>Beatbox</td>
       <td><a href="https://hal.archives-ouvertes.fr/hal-02798538v3">Reconnaissance de parole beatboxée à l'aide d'un système HMM-GMM inspiré de la reconnaissance automatique de la parole.</a></td>
       <td>JEP-TALN-RECITAL, France</td>

   </tr>
   <tr>
       <td>2019</td>
       <td>Beatbox</td>
       <td><a href="https://hal.archives-ouvertes.fr/hal-02429730">Beatbox sounds recognition using a speech-dedicated HMM-GMM based system. </a></td>
       <td>MAVEBA, Italy</td>

   </tr>
</table>
        

        </div>
        <script type="text/javascript">
              const compare = (ids, asc) => (row1, row2) => {
              const tdValue = (row, ids) => row.children[ids].textContent;
              const tri = (v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
              return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));};

              const tbody = document.querySelector('tbody');
              const thx = document.querySelectorAll('th');
              const trxb = tbody.querySelectorAll('tr');
              thx.forEach(th => th.addEventListener('click', () => {
              let classe = Array.from(trxb).sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
              classe.forEach(tr => tbody.appendChild(tr));}));
        </script>
</section>
