 <!-- About Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br><br>
                    <h2>Papers</h2>
                    <br><br>
                </div>
	       </div>
           <p>Full up-to-date list of papers: <a href="https://cv.archives-ouvertes.fr/solene-evain">https://cv.archives-ouvertes.fr/solene-evain</a></p>
<table>
   <tr>
        <th>Date </th>
        <th>Project</th>    
        <th>Paper</th>
        <th>Conference/workshop</th>

   </tr>

   <tr>
       <td>2021</td>
       <td>Thèse</td>
       <td>Poster LIFT</td>
       <td>LIFT, Grenoble</td>

   </tr>
   <tr>
       <td>2021</td>
       <td>LeBenchmark</td>
       <td>Lebenchmark: blabla</td>
       <td>Interspeech</td>

   </tr>
      <tr>
       <td>2021</td>
       <td>Beatbox</td>
       <td>reconnaissance</td>
       <td>Italie</td>

   </tr>
   <tr>
       <td>2021</td>
       <td>LeBenchmark</td>
       <td>blabla</td>
       <td>JEP</td>

   </tr>
   <tr>
       <td>2020</td>
       <td>LeBenchmark</td>
       <td>Task Agnostic: blabla</td>
       <td>NeurIPS</td>

   </tr>
</table>
        

        </div>
        <script type="text/javascript">
              const compare = (ids, asc) => (row1, row2) => {
              const tdValue = (row, ids) => row.children[ids].textContent;
              const tri = (v1, v2) => v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2);
              return tri(tdValue(asc ? row1 : row2, ids), tdValue(asc ? row2 : row1, ids));};

              const tbody = document.querySelector('tbody');
              const thx = document.querySelectorAll('th');
              const trxb = tbody.querySelectorAll('tr');
              thx.forEach(th => th.addEventListener('click', () => {
              let classe = Array.from(trxb).sort(compare(Array.from(thx).indexOf(th), this.asc = !this.asc));
              classe.forEach(tr => tbody.appendChild(tr));}));
        </script>
</section>
